.created-at {
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
}
.delete-module {
    font-size: 25px;
    cursor: pointer;
}
.author-name {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 16px;
}

.edit-module {
    font-size: 2rem;
    cursor: pointer;
    color: #4257b2;
}

