
.header-container {
    background-color: #4257b2;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
    height: 5rem;
    overflow: hidden;
}

.left-container {
    padding: 0;
    width: 25rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-left: 2.7rem;
}

.SiteLogo {
    color: white;
    width: 6rem;
    
}

@media only screen and (max-width: 768px) {
    .left-container > .right {
        display: none !important;
    }
  }

 


.left-container > .right {
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-container > .right > div {
    margin: .5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* font-weight: bold; */
}

.left-container > .right > div:hover{
    opacity: 0.5;
}

.left-container > .right > div > .icon {
    margin-right: .3rem;
    font-size: 1.2rem;
}

.left-container > .right > .line {
    color: black;
    opacity: 0.3;
}

.rigth-container{
    width: 16rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 3rem;
}

.button {
    font-weight: bold;
}

.signup {
    padding: .7rem 1.5rem;
    border-radius: 5px;
    background-color: #3ccfcf;
    cursor: pointer;
    white-space: nowrap;
}

.signin {
    padding: .7rem 1.5rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    white-space: nowrap;
}
.signin:hover {
    opacity: 0.5;
}

.signup:hover {
    opacity: 0.5;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
@media only screen and (max-width: 768px) {
    .right {
        display: none !important;
    }
}

@media only screen and (max-width: 470px) {
    .left-container{
        margin-left: .3rem;
    }
    .rigth-container {
        margin-right: 1rem;
    }
  }
  
