
.header-container {
    background-color: #4257b2;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
    height: 5rem;
    overflow: hidden;
}

.left-container {
    padding: 0;
    width: 25rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-left: 2.7rem;
}

.SiteLogo {
    color: white;
    width: 6rem;
    
}

@media only screen and (max-width: 768px) {
    .left-container > .right {
        display: none !important;
    }
  }

 


.left-container > .right {
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-container > .right > div {
    margin: .5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* font-weight: bold; */
}

.left-container > .right > div:hover{
    opacity: 0.5;
}

.left-container > .right > div > .icon {
    margin-right: .3rem;
    font-size: 1.2rem;
}

.left-container > .right > .line {
    color: black;
    opacity: 0.3;
}

.rigth-container{
    width: 16rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button {
    font-weight: bold;
}

.signup {
    padding: .7rem 1.5rem;
    border-radius: 5px;
    background-color: #3ccfcf;
    cursor: pointer;
    white-space: nowrap;
}

.signin {
    padding: .7rem 1.5rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    white-space: nowrap;
}
.signin:hover {
    opacity: 0.5;
}

.signup:hover {
    opacity: 0.5;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  .avatar-custom {
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    height: 120px;
    width: 120px;
  }

.avatar:hover {
    opacity: 0.7;
}
.rigth-container .header-icon-responsive:first-child {
    margin-right: 30px;
    font-size: 20px;
}
.rigth-container .header-icon-responsive:nth-child(2) {
    margin-right: 0px;
    font-size: 20px;
}
.header-icon-responsive-container {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 104px;
    top: 30px;
}
.header-icon-responsive {
    display: none;
}
#q {
    display: none;
}
@media only screen and (max-width: 768px) {
    .right {
        display: none !important;
    }
    .header-icon-responsive {
        display: inline;
    }
}
@media only screen and (max-width: 460px) {
    #quizlet {
        display: none;
    }
    #q {
        display: inline;
    }
    .left-container {
        position: relative;
        top: 8px;
        left: 7px;
    }
}

@media only screen and (max-width: 470px) {
    .left-container{
        margin-left: .3rem;
    }
    .rigth-container {
        margin-right: -3rem;
    }
    .avatar-custom {
        max-width: 80px;
        max-height: 80px;
        border-radius: 50%;
    }
  }
  
.custom-dialog-logout {
    position: absolute;
    width:13rem !important; 
    top:3rem; 
    right:10rem;
}

.logout-button {
    color: coral;
    font-weight: bold;
}

.logoutCon {
    cursor: pointer;
}

.logoutCon:hover {
    background-color: #fff9e3;
}


