.quotes-container {
    
    display: flex;

    align-items: center;
    justify-content: center;
}

.quotes-container-child{
    padding: 3rem;
    max-width: 60rem;
    display: flex;
}

.quotes-container-child-child{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.quote-icon{
    color: #f08700;
    font-size: 3.5rem;
}

.quotes-details {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.quotes-author {
    display: flex;
    justify-content: center;
    opacity: 0.5;
}