.quotes-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.quotes-container-child{
    padding: 3rem;
    max-width: 60rem;
    display: flex;
}

.quote-icon{
    color: #f08700;
    font-size: 3.5rem;
}

.quotes-container-child > p {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}
